#flash_alerts.topspace_height
  - if notice
    .alert.alert-success
      %button.close{'data-dismiss' => 'alert'}
      %i.fa.fa-check
      = notice
  - if alert
    .alert.alert-warning
      %button.close{'data-dismiss' => 'alert'}
      %i.fa.fa-warning
      = alert
  - if flash[:error]
    .alert.alert-error
      %button.close{'data-dismiss' => 'alert'}
      %i.fa.fa-warning
      = flash[:error]


:javascript
  var flash_alerts = {
    notice: #{notice.to_json},
    alert:  #{alert.to_json},
    error: #{flash[:error].to_json},
  }
  