:javascript
  var loading_image = "#{asset_path 'default/loading2.gif'}"
  var minus_image = "#{asset_path 'icon/accodion_minus_icon.png'}"
  var plus_image = "#{asset_path 'icon/accodion_plus_icon.png'}"

/ START FOOTER
.container-fluid.container-fixed-lg.footer
  .copyright.sm-text-center
    %p.small.no-margin.pull-left.sm-pull-reset
      %span.hint-text ©
      %span.font-montserrat Prophio.com
      %span.sm-block
        |
        Need Support?
        %a.m-l-10{:href => "mailto:manolet@gmail.com"}
          escribe@prophio.com
    %p.small.no-margin.pull-right.sm-pull-reset
      %span.hint-text Created by
      %a{:href => "http://www.neyronbit.com"} NeyronBit 
      &
      %a{:href => "http://www.cognitus.com"} Cognitus
    .clearfix
/ END FOOTER