/ START PAGE HEADER WRAPPER
/ START HEADER
.header
  / START MOBILE CONTROLS
  / LEFT SIDE
  .pull-left.full-height.visible-sm.visible-xs
    / START ACTION BAR
    .sm-action-bar
      %a.btn-link.toggle-sidebar{"data-toggle" => "sidebar", :href => "#"}
        %span.icon-set.menu-hambuger
    / END ACTION BAR
  / RIGHT SIDE
  .pull-right.full-height.visible-sm.visible-xs
    / START ACTION BAR
    .sm-action-bar
      %a.btn-link{"data-toggle" => "quickview", "data-toggle-element" => "#quickview", :href => "#"}
        %span.icon-set.menu-hambuger-plus
    / END ACTION BAR
  / END MOBILE CONTROLS
  .pull-left.sm-table
    .header-inner
      .brand.inline
        %img{:alt => "Prophio.com", "data-src" => image_path('logo.png'), "data-src-retina" => image_path('logo_white_2x.png'),:src => image_path('logo.png'), :height => "37"}/
      / BEGIN NOTIFICATION DROPDOWN
      %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
        %li.p-r-15.inline
          .dropdown
            /%a#notification-center.icon-set.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
            %a#notification-center{"data-toggle" => "dropdown", :href => "javascript:;"}
              %i.fa.fa-bell
              %span.bubble
            .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
              .notification-panel
                / START Notification Body
                .notification-body.scrollable
                  / START Notification Item
                  .notification-item.clearfix
                    .heading
                      %a.text-danger{:href => "#"}
                        %i.fa.fa-exclamation-triangle.m-r-10
                        %span.bold 98 Server Load
                        %span.fs-12.m-l-10 Take Action
                      %span.pull-right.time
                        2 mins ago
                    .option
                      %a.mark{:href => "#"}
                  / END Notification Item
                / END Notification Body
                / START Notification Footer
                .notification-footer.text-center
                  %a{:href => "#"} Read all notifications
                  %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                    %i.pg-refresh_new
                / END Notification Footer
        / %li.p-r-15.inline
        /   %a.icon-set.globe-fill{:href => "#"}
        /   %b.big All Territories
      / END NOTIFICATION DROPDOWN
      %a.search-link{"data-toggle" => "search", :href => "#"}
        %i.pg-search>
        Type anywhere to
        %span.bold search

  .pull-right
    / START User Info
    .visible-lg.visible-md.m-t-10
      .pull-left.p-r-10.p-t-10.fs-16.font-heading
        %span.semi-bold= current_user.nickname
        %span.text-master
      .dropdown.pull-right
        %button.profile-dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.thumbnail-wrapper.d32.circular.inline.m-t-5
            %img#avatar{:alt => "", :height => "32", :src => current_user.avatar_url, :width => "32"}/
        %ul.dropdown-menu.profile-dropdown{:role => "menu"}
          %li
            = link_to edit_user_path(current_user) do
              %i.glyphicon.glyphicon-user
              %span.pull-right My Profile
          %li
            %a{:href => "#"}
              %i.pg-settings_small
              Settings
          %li
            %a{:href => "#"}
              %i.pg-outdent
              Feedback
          %li
            %a{:href => "#"}
              %i.pg-signals
              Help
          %li.bg-master-lighter
            = link_to(destroy_user_session_path, :method => :delete, class: 'clearfix') do
              %span.pull-left Logout
              %span.pull-right
                %i.pg-power

    / END User Info
/ END HEADER
/ END PAGE HEADER WRAPPER