/ BEGIN SIDEBAR
#sidebar.page-sidebar{"data-pages" => "sidebar", 'data-turbolinks-permanent': ''}
  #appMenu.sidebar-overlay-slide.from-top

  / BEGIN SIDEBAR HEADER
  .sidebar-header
    %img.brand{:alt => "logo", "data-src" => image_path('logo_white.png'), "data-src-retina" => image_path('logo_white_2x.png'), :src => image_path('logo_white.png'), :width => "120", :height => "32 "}/
    .sidebar-header-controls.pull-rights
      %button.btn.btn-xs.sidebar-slide-toggle.btn-link{"data-pages-toggle" => "#appMenu", :type => "button"}
        %i.fa.fa-angle-down.fs-16
      %button.btn.btn-link.btn-toggle-layout.visible-md-inline.visible-lg-inline{'data-action' => "menuDefault",  type: "button", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-pin-label' => _('Pin navigation'), 'data-unpin-label' => _('Unpin navigation'), title: _('Toggle navigation',)}
        %i.fa.fa-thumb-tack
  / END SIDEBAR HEADER

  / BEGIN SIDEBAR MENU
  .sidebar-menu
    %ul.menu-items
      %li.m-t-30
        = link_to root_path, class: 'detailed' do
          %span.title Home
          %span.details 0 notifications
        %span.icon-thumbnail
          %i.pg-home
      %li
        = link_to users_path do
          Users
        %span.icon-thumbnail
          %i.fa.fa-university

        / %li
        /   = link_to properties_path do
        /     %span.title Properties
        /   %span.icon-thumbnail
        /     %i.fa.fa-home

        / %li
        /   = link_to residents_path do
        /     %span.title Residents
        /   %span.icon-thumbnail
        /     %i.fa.fa-user
    .clearfix
  / END SIDEBAR MENU
/ END SIDEBAR