= simple_form_for [@user] do |f|
  = f.error_notification
  = render 'elements/error_details', errors: @user.errors
  .col-md-8.col-sm-12
    .form-inputs
      = f.input :email
      = f.input :password
      = f.input :nickname
      = f.input :phone
      = f.input :photo, as: :file

  .col-md-12
    .form-actions
      - if @user.id
        .pull-right
          = link_to _('Destroy'), [@user], :method => :delete, :data => { :confirm => _('Are you sure?') }, class: 'btn btn-danger'

      .form-buttons.pull-left
        = f.button :submit
        = link_to _('Back'), users_path(@residential_complex), class: 'btn btn-cons'
