.row
  .col-md-12
    .grid.simple
      .grid-body.no-border
        %h1
          Users
        .panel-group
          .panel.panel-default
            .panel-body    
              %table.table.no-more-tables
                %thead
                  %tr
                    %th
                    %th Name
                    %th Email
                    %th Document
                    %th Phone
                    %th Online
                    %th Options
                %tbody
                  - @users.each do |user|
                    %tr
                      %td
                        %img.img-circle{src: user.avatar_url(42, 42)}
                      %td
                        = user.nickname
                        = user.email
                        = user.phone
                      %td
                        = user.email
                      %td
                        = link_to 'Edit', edit_user_path(user), class: 'btn btn-xs'

              
              = link_to "New User", new_user_path, class: 'btn btn-primary btn-cons'\
              = link_to _("Back"), root_path, class: 'btn btn-cons'
