 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * BEGIN VENDOR CSS FOR PAGES
 *= require pages-plugins/pace/pace-theme-flash
 *= require pages-plugins/bootstrapv3/css/bootstrap.min
 *= require pages-plugins/font-awesome/css/font-awesome
 *= require pages-plugins/jquery-scrollbar/jquery.scrollbar
 *= require pages-plugins/bootstrap-select2/select2
 *= require pages-plugins/switchery/css/switchery.min
 *= require pages-plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min
 *= require pages-plugins/bootstrap-datepicker/css/datepicker3
 *= require pages-plugins/bootstrap-select2/select2
 # require dropzone
 *= require pages-plugins/animate.min
 *
 * BEGIN CORE TEMPLATE CSS FOR PAGES
 *= require pages-core/css/pages-icons
 *= require pages-core/scss/pages
 *
 * BEGIN PAGES ASSET PIPELINE OVERRIDE
 *= require ./pages-asset-pipeline
 * BEGIN SITE STYLES
 *
 *= require_tree .
 *= require_self
 */

 /* Fixes to pages */


 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.turbolinks-progress-bar {
  background-color: #d81b17;
}


 /*.sidebar-header button,
 .sidebar-header button:focus {
   color: #eee;
 }*/
 .btn-toggle-layout{
   transform: rotate(0deg); 
 }
 .menu-pin .btn-toggle-layout{
   transform: rotate(90deg) !important;
 }
     

 .panel.panel-default{
   border-radius: 10px !important;
 }

 .select2-container{
   width:100%;
 }

 .notification-list{
   .globe-fill{
     display: inline-block;
   }
   .big{
     font-size: 16px;
   }
   i.fa-bell{
     font-size: 17px;
     right: 2px;
     position: relative;
     margin-right: -18px;
   }
   .bubble{
     top: -3px !important;
   }
 }

 // .form-actions{
 //   width: 100%;
 //   height: 100px;
 //   padding: 30px 0px;
 // }

 .filter-form{
   width: 100%;
   padding: 30px 0px; 
   overflow: auto;
 }

 .c-rating.disabled .c-rating__item:hover{
   background-position: 0 0 !important;
   cursor: default;
 }

 .c-rating.disabled .c-rating__item.is-active:hover{
  background-position: -24px !important; 
 }

 .well{
   overflow: auto;
 }




 .grid.simple .form-actions {
     margin-right: -20px !important;
     margin-left: -20px !important;
     margin-bottom: -20px !important;
 }
 .grid-body, .form-actions {
     border-radius: 0 0 10px 10px;
 }
 .form-actions {
     background-color: #f6f7f8;
     border: 0px;
     margin-bottom: 20px;
     margin-top: 20px;
     padding: 19px 20px 20px;
     height: 77px;
 }
 .form-actions:before, .form-actions:after {
     content: "";
     display: table;
     line-height: 0;
 }

 #flash_alerts{
   display: none;
 }

 .pagination{
   margin: 0;
 }
 .bg-info {
   background-color: #3b4752 !important;
 }


.details {
  line-height: 8px;
  font-size: 12px;
  opacity: 0.4;
  display: block;
  clear: both;
}

.controller_guards.action_dashboard .container-fluid{
  padding-right: 250px;
}

.login-container{
  box-shadow: -2px 1px 47px black;
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);  
  backdrop-filter: blur(5px);
}


@media (max-width: 768px){
  .login-wrapper .login-container {
    background-color: rgba(255, 255, 255, 0.81) !important;

    .alert{
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0px -1px 13px #717171;
      width: 100%;
    }
  }  

  #form-login .btn{
    width: 100%;
  }
}
