!!!
%html
  %head

    %title Prophio

    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    %link{:href => "/favicon.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.png", :rel => "shortcut icon"}/

    %link{:href => image_path('ico/60.png'), :rel => "apple-touch-icon"}/
    %link{:href => image_path('ico/76.png'), :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => image_path('ico/120.png'), :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => image_path('ico/152.png'), :rel => "apple-touch-icon", :sizes => "152x152"}/

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    /[if lte IE 9]
      <link href="/pages/css/ie9.css?v=pages-v1.0.0" rel="stylesheet" type="text/css" />
    :javascript
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css?v=pages-v1.0.0" />'
      }

    = csrf_meta_tags
    = yield :head
  %body.fixed-header{'class' => "#{body_classes} #{@extra_body_class} fixed-header menu-pin"}
    
    = render 'elements/sidebar'
    
    / START PAGE-CONTAINER
    .page-container.row-fluid
      
      = render 'elements/header'
      
      / START PAGE CONTENT WRAPPER
      .page-content.page-content-wrapper
        / START PAGE CONTENT
        .content
          .container-fluid.container-fixed-lg
            /%ul.breadcrumb
            /  %li
            /    %i.fa.fa-home
            /  %li
            /    = link_to params[:controller], request.original_fullpath, class: 'active'
            / BEGIN PAGE TITLE
            / END PAGE TITLE
            / BEGIN PlACE PAGE CONTENT HERE
            = render 'elements/flash_session'

            %ul.breadcrumb
              %li
                %a{href: '/'} 
                  %i.fa.fa-home
                  Home
              - if controller_name != 'application'
                %li
                  = link_to _(controller_name.humanize), controller_name

            = yield
        / END PAGE CONTENT
        = render 'elements/footer'
      / END PAGE CONTENT WRAPPER
    / END PAGE CONTAINER
    
    
    = # render 'elements/overlay_search'

    
    = javascript_include_tag 'application', 'data-turbolinks-track': :reload, 'data-turbolinks-eval': false