!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Prophio
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => image_path('ico/60.png'), :rel => "apple-touch-icon"}/
    %link{:href => image_path('ico/76.png'), :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => image_path('ico/120.png'), :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => image_path('ico/152.png'), :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.png", :rel => "shortcut icon"}/

    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /[if lte IE 9]
      <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    :javascript
      window.onload = function()
      {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
      }
  %body.fixed-header
    .login-wrapper
      / START Login Background Pic Wrapper
      .bg-pic
        / START Background Pic
        %img.lazy.blur{:src => image_path("login_background_2.jpg")}/
        / END Background Pic
        / START Background Caption
        .bg-caption.pull-bottom.sm-pull-bottom.text-white.p-l-20.m-b-20
          %h2.semi-bold.text-white
            Smart residential complex manager 
          %p.small
            www.prophio.com
            /%a{href: 'http://www.prophio.com'} www.prophio.com
            
        / END Background Caption
      / END Login Background Pic Wrapper
      / START Login Right Container
      .login-container.bg-white
        .p-l-50.m-l-20.p-r-50.m-r-20.p-t-50.m-t-30.sm-p-l-15.sm-p-r-15.sm-p-t-40
          .text-center
            %img{:alt => "logo", :src => image_path("logo.png"),:height => "73", :width => "257"}/

          %p.p-t-35 Sign into your Prophio account

          - if notice
            .alert.alert-success
              %button.close{'data-dismiss' => 'alert'}
              %i.fa.fa-check
              = notice
          - if alert
            .alert.alert-error
              %button.close{'data-dismiss' => 'alert'}
              %i.fa.fa-warning
              = alert
          - if flash[:error]
            .alert.alert-error
              %button.close{'data-dismiss' => 'alert'}
              %i.fa.fa-warning
              = flash[:error]


          = yield


      / END Login Right Container
    
    / BEGIN VENDOR JS
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false
    :javascript
      $(function()
      {
        $('#form-login').validate()
      })