!!!
%html
  %head
    %link{:rel => :stylesheet, :type => "text/css", :href => "/iphone_emulator.css"}
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.png", :rel => "shortcut icon"}/

%body
  %h1 PropHo
  %h2 Sistema de citofonía DEMO

  .wrapper
    .iphone
      .power
      .lock
      .volume.up
      .volume.down
      .camera
      .speaker
      
      .screen
        / Put screen stuff in here
        .appleicon
          %img{:src => "http://goo.gl/4xuZUj"}/
        %iframe{border: 0, src: '/mobile'}
      .button
        .square
